@font-face {
  font-family: "ginto";
  src: url(./assets/font/ABCGintoNormal-Regular.otf);
}
@font-face {
  font-family: "ginto-bold";
  src: url(./assets/font/ABCGintoNormal-Bold.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

.tucalendi_iframe_root {
  font-size: 0.8rem !important;
}

}

:root {
  --primary: #95a302;
  --secondary: #b2b2b2;
  --gray: #f1f1f1;
  --orange-bg: #fff1e7;
  --background: #fbfbfb;
  --yellow-bg: #fffaf4;
  --vet-bg: #f4f4ff;
  --shadow: 0px 17px 32px 0px rgba(0, 122, 255, 0.06);
  --filter: invert(21%) sepia(43%) saturate(3218%) hue-rotate(111deg)
    brightness(96%) contrast(91%);
}

body {
  font-family: "ginto";
}

.sidebg{
  background-image: url('./assets/side-bg.svg');
}

.tucalendi_iframe_root > .TuCali--widget-content {
  border: none !important;
}

.sec-btn {
  @apply h-[40px] border border-[var(--secondary)] px-5 rounded-md text-sm flex items-center justify-center gap-2;
}

.pri-btn {
  @apply h-[40px] border bg-[var(--primary)] border-[var(--primary)] px-5 text-white rounded-md text-sm flex items-center justify-center gap-2;
}

.carousel-body {
  @apply h-[90vh] bg-top;
}

.carousel-content {
  @apply w-[90%] md:w-[80%] mx-auto;
}

.headOne {
  @apply text-4xl lg:text-6xl font-['ginto-bold'] font-black;
}
.headTwo {
  @apply text-3xl lg:text-5xl font-['ginto-bold'];
}
.headThree {
  @apply text-xl lg:text-3xl font-['ginto-bold'];
}
.headFour {
  @apply text-xl lg:text-2xl font-['ginto-bold'];
}

.subtitle {
  @apply py-3 text-sm text-center lg:text-[1rem];
}

.ter-btn {
  @apply h-[50px] border border-white px-5 rounded-md text-sm text-white flex items-center justify-center gap-2;
}
.outline-btn {
  @apply h-[40px] border border-[var(--primary)] px-5 rounded-md text-sm text-[var(--primary)] flex items-center justify-center gap-2;
}

.white-btn {
  @apply h-[50px] border border-white px-5 rounded-md text-sm bg-white text-[var(--primary)] flex items-center justify-center gap-2;
}

.main {
  @apply w-[90%] md:w-[80%] mx-auto;
}

.dialog{
  @apply before:h-[100vh] before:w-[100vw] before:bg-black/40 before:fixed before:top-0 before:left-0 before:z-[10000] before:backdrop-blur-sm
}

input, textarea {
  @apply border outline-none focus:outline-none border-[var(--secondary)] shadow-none p-2 text-sm w-full !font-['ginto'];
}

.p-inputtext{
  @apply  outline-none focus:outline-none border-[var(--secondary)] shadow-none p-2 text-sm w-full !font-['ginto'];
}

.p-dropdown{
  @apply border outline-none focus:outline-none border-[var(--secondary)] shadow-none text-sm w-full p-0 !font-['ginto'];
}

.p-chips-input-token input{
  @apply border-none p-0
}

.p-chips-multiple-container {
  @apply border outline-none focus:outline-none border-[var(--secondary)] shadow-none p-2 text-sm w-full !font-['ginto'];
  
}

.p-dropdown-item{
  @apply text-[.90rem]
}

.p-dropdown-item{
  @apply !font-['ginto'];
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
  @apply text-[var(--primary)] bg-[#95a30012]
}

.ant-color-picker-color-block{
  @apply !w-full
}

.p-dropdown-label .p-inputtext{
  @apply !font-['ginto'];
}
label {
  @apply text-sm font-light;
}

.ant-carousel .slick-dots {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex !important;
  justify-content: center;
  margin-right: 15%;
  margin-bottom: 100px !important;
  margin-left: 15%;
  padding-left: 0;
  list-style: none;
}
.ant-tabs-tab .ant-tabs-tab-active{
  border-color: var(--primary) !important;
}
:where(.css-dev-only-do-not-override-p7e5j5).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: var(--primary) !important;
  font-weight: bold;
  text-shadow: 0 0 0.25px var(--primary) !important;
}
:where(.css-dev-only-do-not-override-p7e5j5).ant-tabs .ant-tabs-tab:hover{
  color: var(--primary) !important;

}

.price {
  @apply font-['ginto-bold'] text-3xl tracking-tighter text-orange-400;
}

.price span {
  @apply text-sm font-['ginto'] tracking-normal;
}

.feature {
  @apply flex items-center gap-2;
}

.feature i {
  @apply text-orange-400;
}

.outline-btn:disabled{
  @apply !text-gray-400 !bg-gray-50 !border-gray-400

}

:disabled {
  @apply !bg-gray-400;
}

.error {
  @apply text-xs text-red-400;
}

.myLink:hover {
  @apply cursor-pointer text-[var(--primary)] transition-all
}
.myLink:hover i{
  @apply bg-[var(--primary)] p-3 rounded-full text-white transition-all
}

.active> i{
  @apply bg-[var(--primary)] p-3 rounded-full text-white transition-all
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-2q8sxy).ant-table-wrapper .ant-table-thead >tr>td{
  @apply !bg-white p-4
}

tr{
  @apply !text-sm
}

th{
  @apply font-light
}

td{
  @apply font-[200] text-[.85rem]
}